body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #8B4513; /* Café */
    color: #fff;
    padding: 20px;
    text-align: center;
}

.contenedor-imagen {
    display: flex;
    justify-content: center;
    align-items: center;
}

header img.foto-perfil {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 20px;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: #F5F5DC; /* Beige */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #8B0000; /* Rojo oscuro */
}
h3{
    color: #99806e;
}
ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 10px 0;
}
